* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.azim-h1 {
  color: #61dafb;
  font-size: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.azim-span {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.azim-button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.azim-bg {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.azim-li {
  color: white;
}